---
layout: home
title: About
permalink: /about/
---

<body>
    <div class="page-header">
        <h1>Who are we?</h1>
    </div>
    <div id="about">
        <table style="width:100%" id="about-table">
        {% assign num_members = -1 %}
        {% assign per_row = 3 %}
        {% for member in site.data.members %}
            {% assign num_members = num_members | plus: 1 %}
            {% assign mod = num_members | modulo:per_row %}
            {% if mod == 0 %}
                <tr>
            {% endif %}
            <td>
                <image src="/static/images/members/rick.jpg"/>
                <br>
                {{ member.name }}
                <br>
                {{ member.nickname }}
                <br>
                {{ member.team }}
                <br>
                {{ member.about }}
            </td>
            {% assign compare = per_row | minus:1 %}
            {% if mod == compare or forloop.last %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
</body>

<script>
console.log("asdf");
</script>
