---
layout: main
title: About
permalink: /about/
slogan: 
js:
    - poisson-disc-sampler
    - snap-min
    - util
footer-js:
    - about
---
<div class="info">
    <div id="glyphs">
        {% assign who_list = "" %}
        {% assign what_list = "" %}
        {% assign first = 0 %}
        {% for team in site.teams %}
        {% assign team_data = team.title | downcase %}
        {% if first != 0 %}
            {% assign who_list = who_list | append: ',' %} 
            {% assign what_list = what_list | append: '|' %} 
        {% endif %}
        {% assign who_list = who_list | append: team.who %}
        {% assign what_list = what_list | append: team.content %}
        <div class="team-glyphs {% if first == 0 %}team-glyphs-active{% assign first = 1 %}{% endif %}">
                {% for member in site.data[team_data] %}
                    <img src="/assets/members/{{ team.title | downcase }}/{{ member.name | downcase | replace: ' ', '-' }}.jpg" class="hexagon-img"/>
                {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="we-are">
        <h1 class="kinda-big">We are&nbsp;</h1>
    </div>
    <div class="info-container">

        {% assign counter = 0 %}
        {% assign who_list_parsed = who_list | split: ',' %}
        {% assign what_list_parsed = what_list | split: '|' %}
        {% for who in who_list_parsed %}
        <div class="info-chunk">
            <h1 class="kinda-big gradient-text what-we-are">{{ who }}</h1>
            <p>{{ what_list_parsed[counter] }}</p>
        </div>
        {% assign counter = counter | plus: 1 %}
        {% endfor %}
        <div id="transition-buttons">

            <!-- procedurally append divs here for each info-chunk-->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="about-slogan">
                HackGT is a 501(c)(4) nonprofit and student organization consisting of Georgia Tech undergraduate students focused on being the drivers of computer science outreach in the Georgia Tech, state, and national communities. Through throwing large-scale collegiate hackathons of upwards of 1000 people to small-scale hackathons and workshops, our organization aims to spread the spirit of application, innovation, and creativity in computer science education.
                <br/>
                <br/>
                By partnering with companies and organizations large and small, we are able to cultivate environments that bring value to the lives of the communities we serve all at no cost to the participants. The motivation behind throwing free events is to allow for any person of any background to have the capacity to take full advantage of a positive experience. Our organization strives to provide a resource-rich environment that ultimately ends up in allowing a participant to learn and apply new skills, connect with other like-minded innovate individuals, and bring any of their ideas to life.
            </h3>
        </div>
    </div>

    <div class="row">
        {% assign numPics = 42 %}
        {% assign picsPerCol = numPics | divided_by: 4.0 | ceil %}
        {% assign picsPerColMinusOne = picsPerCol | minus: 1 %}

        {% for num in (0..numPics) %}
            {% assign mod = num | modulo: picsPerCol %}

            {% if mod == 0 %}
            <div class="col-3">
            {% endif %}

            <div class="member-pic" data-silly="/assets/members/silly{{num | times: 2}}.jpg">
                <img src="/assets/members/pic{{num | times: 2}}.jpg" class="normal"/>
                <img src="/assets/members/goofy{{num | times: 2}}.jpg" class="silly"/>
            </div>

            {% if mod == picsPerColMinusOne %}
            </div>
            {% endif %}
        {% endfor %}
        {% assign remainder = numPics | modulo: picsPerCol %}

        {% if remainder != 0 %}
        </div>
        {% endif %}
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
</div>

