---
layout: home
title: About
permalink: /about/
---

<body>
    <div class="page-header">
        <h1>Who are we?</h1>
    </div>
    <div id="about" class="container">
        <table style="width:100%" id="about-table">
        {% assign num_members = -1 %}
        {% assign per_row = 3 %}
        {% for member in site.data.members %}
            {% assign num_members = num_members | plus: 1 %}
            {% assign mod = num_members | modulo:per_row %}
            {% if mod == 0 %}
                <div class="row">
            {% endif %}
            <div class="col col-lg-4 col-md-4 col-sm-12">
                <center>
                <div class="hovereffect">
                    <center>
                        <img class="img-responsive" src="http://placehold.it/300x300" alt="">
                    </center>
                    <div class="overlay">
                        <div class="rotate">
                            <p class="group1">
                                <a href= {{ member.mail }}  >
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href={{ member.github }}>
                                    <i class="fa fa-github"></i>
                                </a>
                            </p>
                                <hr>
                                <hr>
                            <p class="group2">
                                <a href={{ member.website }}>
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href={{ member.linkedin }}>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <p class="member-description">
                    <br>
                    {{ member.name }}
                    <br>
                    {{ member.nickname }}
                    <br>
                    {{ member.team }}
                    <br>
                    {{ member.about }}
                </p>
                </center>
            </div>
            {% assign compare = per_row | minus:1 %}
            {% if mod == compare or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        </table>
    </div>
</body>

<script>
console.log("asdf");
</script>
