---
layout: main
title: Blog
theme: dark
permalink: /blog/
js:
    - snap-min
---
<div id="blog">

    <!-- <div class="row">
    	{% for featured_post in site.posts limit: 2 %}
        <a href="{{ featured_post.url }}">
            <div class="col-6 featured-post">
                <img src="/assets/blog/{{ featured_post.image }}">
                <h1 class="title">{{ featured_post.title }}</h1>
                <h3 class="author">{{ featured_post.author}}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="row">

        <div class="col-4">
            <h2 id="blog-topics">Explore some HackGTopics</h2>
        </div>

        <div class="col-2 topic">
            <h2><a href="#">Tech</a></h2>
        </div>

        <div class="col-2 topic">
            <h2><a href="#">Design</a></h2>
        </div>

        <div class="col-2 topic">
            <h2><a href="#">Operations</a></h2>
        </div>

    </div> -->
        {% assign size = site.posts | size %}
        {% assign columns = 1 %}
        <div class="row">
            {% for column_counter in (0..columns) %}
            <div class="col-6">
            {% assign counter = 0 %}
            {% for post in site.posts %}
            {% assign mod = counter | modulo: 2 %}
            {% if mod == column_counter %}
                <div class="blog-post">
                    <a href="{{ post.url }}"><img src="/assets/blog/{{ post.image }}"/></a>
                    <div class="preview">
                        <h2 class="title"><a href="{{ post.url }}">{{ post.title}}</a></h2>
                        <h3>By {{ post.author }}</h3>
                        <p class="description">{{ post.content | strip_html | truncatewords: 50 }} </p>
                    </div>
                </div>
            {% endif %}
            {% assign counter = counter | plus: 1 %}
            {% endfor %}
            </div>
            {% endfor %}
        </div>
</div>

<script type="text/javascript" src="/js/blog.js"></script>
