---
layout: main
title: Code
slogan: At HackGT, we build the technology behind hackathons. We believe in making our solutions available through open source projects on <a href="https://github.com/HackGT" target="_blank">GitHub</a>.
theme: dark
id: code
permalink: /code/
js:
    - snap-min
---

<div class="code-projects">
    {% assign num_members = -1 %}
    {% assign per_row = 2 %}
    {% assign projects = site.projects | sort:"priority" %}
    {% for project in projects  %}
        {% assign num_members = num_members | plus: 1 %}
        {% assign mod = num_members | modulo:per_row %}
        {% if mod == 0 %}
         <div class="row">
        {% endif %}
            <div class="col-6 code-project">
                <img src="/assets/projects/{{ project.title | downcase | replace: ' ', '-' }}.png"/>
                <h1>{{ project.name }}</h1>
                {{ project.content }}

                <div class="explore">
                    <p class="bar"><a href="{{ project.link }}">Explore on GitHub</a></p>
                </div>
            </div>
        {% assign compare = per_row | minus:1 %}
        {% if mod == compare or forloop.last %}
        </div>
        {% endif %}
    {% endfor %}
</div>
