---
layout: home
title: HackGT
permalink: /community/
---

<body>
	<div class="container">
		<div class="page-header">
			<h1>HackGT Community</h1>
		</div>
    </div>
    <div class="community">

		<div class="container">
	    	<div class = "row text-center subheader">
				<h2>Hacker of the Week</h2>
			</div>
			<div class = "hacker-main-row">
				{% for hacker in site.data.hackers limit:1 %}
				<div class = "hacker-main">
					<img src="{{hacker.picture}}" class="img-fluid">
				</div>
				<div class = "hacker-description">
					<h3>{{hacker.name}}</h3>
					<h4>{{hacker.week }}</h4>
					<p>{{hacker.description}}</p>
				</div>
				{% endfor %}
			</div>
			<div class="hacker-past">
				{% for hacker in site.data.hackers offset:1 %}
						<a href="#hacker{{forloop.index0}}" data-toggle="modal">
							<div class="overlay">
								<img src="{{hacker.picture}}" class="img-fluid">
								<div class="overlay-description text-center">
									<h4>{{ hacker.name }}</h4>
									<p>Click to see more..</p>
								</div>
							</div>
						</a>

						<!-- modal -->
						<div id="hacker{{forloop.index0}}" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
                						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						                <h4 class="modal-title">{{hacker.name}}</h4>
						                <h6>{{hacker.week}}</h6>
						            </div>
									<div class="modal-body">
										<p>{{hacker.description}}</p>
									</div>
								</div>
							</div>
						</div>
				{% endfor %}
			</div>

			<div class = "row text-center subheader">
				<h2>Hacker Map</h2>
				<div id="hacker-map"></div>
			</div>
		</div>
	</div>

</body>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var width = 960;
var height = 500;

var svg = d3.select("#hacker-map")
			.append("svg")
			.attr("height", "100%")
			.attr("width", "100%")
			.attr("viewBox", "0 0 " + width + " " + height)
			.attr("preserveAspectRatio", "xMidYMid meet");

var map_g = svg.append("g");

var points_g = svg.append("g");

var projection = d3.geoAlbersUsa()
				   .translate([width/2, height/2])
				   .scale([1000]);

var path = d3.geoPath()
			 .projection(projection);

var tooltip = d3.select("#hacker-map").append("div")
				 .style("position", "absolute")
				 .style("z-index", "100")
				 .style("pointer-events", "none")
				 .attr("class", "d3-tip")
				 .style("display", "none");

var tipShow = function(d) {
  	var html  = d.name + "<br/>" + d.participants + " GT Hackers";
  	tooltip.html(html)
           .style("left", (d3.event.pageX + 15) + "px")
           .style("top", (d3.event.pageY - 28) + "px")
           .transition()
           .duration(200) 
           .style("display", null)

    d3.select(this).attr("r", function(d) { return pointSize(d.participants) + 2; });
};

var tipHide = function(d) {
	tooltip.transition()
	       .duration(200)
	       .style("display", "none");

	d3.select(this).attr("r", function(d) { return pointSize(d.participants); });
}

//draw US map
d3.json("/static/data/us_states.json", function(error, data) {
		if (error) { throw error; }

		var features = data.features;

		var map = map_g.selectAll(".states")
					 .data(features)
					 .enter()
					 .append("path")
					 .attr("class", "states")
					 .attr("d", path);
});

//scale for circle radius
var pointSize = d3.scaleLinear()
				  .range([5, 12]);

//add points
d3.json("/static/data/map-locations.json", function(error, data) {
	if (error) throw error;

	data.forEach(function(d) {
		d.participants = +d.participants;
	});

	pointSize.domain([0, d3.max(data, function(d) { return d.participants; })]);

	var points = points_g.selectAll(".points")
				    .data(data)
				    .enter()
				    .append("circle")
				    .attr("class", "points")
				    .attr("cx", function(d) { return projection(d.location)[0]; })
				    .attr("cy", function(d) { return projection(d.location)[1]; })
				    .attr("r", function(d) { return pointSize(d.participants); })
				    .on("mouseover", tipShow)
				    .on("mouseout", tipHide);

});


</script>