---
layout: home
title: HackGT
permalink: /
---

<body>
	<div class="home-page-header">
		<h1 class="kahuna">HACKGT</h1>
		<img src="static/images/Cityscape.svg"></img>
	</div>
	{% for section in site.homepage %}
		<div class="home-section">
			<h1>{{section.title}}</h1>
			<p> {{section.content}}</p>
		</div>
	{% endfor %}
	<div class="home-section">
		<h1>What have we been up to?</h1>
		{% for section in site.events limit:2 %}
		<div class="event">
			<h2>{{section.title}}</h2>
			<p>{{section.content}}</p>
		</div>
		{% endfor %}
		<div class="view-more">
			<p><a href="../events">View more<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
		</div>
	</div>
</body>
