<footer class="footer">
    <div class="social">
        <a href="https://twitter.com/thehackgt" title="Twitter" class="twitter">
        <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/HackGT" title="Facebook" class="facebook">
        <i class="fa fa-facebook"></i>
        </a>
        <a href="https://github.com/HackGT" title="GitHub" class="github">
        <i class="fa fa-github"></i>
        </a>
        <a href="/cdn-cgi/l/email-protection#a4ccc1c8c8cbe4ccc5c7cfc3d08ac7cbc9" title="Email" class="email">
        <i class="fa fa-envelope"></i>
        </a>
    </div>
    <span>Made with &hearts; by the HackGT Team<br>and in partnership with <a href="https://mlh.io/" target="_blank">MLH</a></span>
</footer>

<script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/scripts/main.js"></script>