<footer>
    <div class="row">
        <div class="col-3">
            <h1>HackGT</h1>
        </div>
        <div class="col-3">
            <h3>General</h3>
            <p><a href="#">About</a></p>
            <p><a href="#">Events</a></p>
            <p><a href="#">Code</a></p>
            <p><a href="#">Blog</a></p>
            <p><a href="#">Contact</a></p>
        </div>
        <div class="col-3">
            <h3>Companies</h3>
            <p><a href="#">Sponsor</a></p>
            <p><a href="#">Contact</a></p>
        </div>
        <div class="col-3">
            <h3>Social</h3>
            <p><a href="#">Email</a></p>
            <p><a href="#">Facebook</a></p>
            <p><a href="#">Twitter</a></p>
            <p><a href="#">Instagram</a></p>
            <p><a href="#">GitHub</a></p>
        </div>
    </div>

    <p class="heart"><span class="gradient-text">Made with <span class="blink-heart"></span> by the HackGTeam</span></p>
</footer>