<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="col-3">
                <h1>HackGT</h1>
            </div>
            <div class="col-3">
                <h3>General</h3>
                <p><a href="/about">About</a></p>
                <p><a href="/events">Events</a></p>
                <p><a href="/code">Code</a></p>
                <!-- <p><a href="#">Blog</a></p> -->
                <p><a href="/contact">Contact</a></p>
            </div>
            <div class="col-3">
                <h3>Companies</h3>
                <p><a href="mailto:hello@hack.gt?subject=Sponsorship Inquiry">Sponsor</a></p>
                <p><a href="/contact">Contact</a></p>
            </div>
            <div class="col-3">
                <h3>Social</h3>
                <p><a href="mailto:hello@hack.gt">Email</a></p>
                <p><a href="https://www.facebook.com/HackGT/">Facebook</a></p>
                <p><a href="https://twitter.com/thehackgt">Twitter</a></p>
                <p><a href="https://www.instagram.com/thehackgt/">Instagram</a></p>
                <p><a href="https://github.com/HackGT">GitHub</a></p>
            </div>
        </div>

        <p class="heart"><span class="gradient-text">Made with <span class="blink-heart"></span> by the HackGTeam</span></p>
    </div>
</footer>
