<header>
{% if page.theme %}<section class="{{ page.theme }}">{% endif %}
  <div id="splash-nav">
      <h1 class="big">
          <a class="gradient-underline" href="#">HackGT</a>
      </h1>
      <ul>
          <li>
              <a href="#about">About</a>
          </li>
          <li>
              <a href="#events">Events</a>
          </li>
          <li>
              <a href="#code">Code</a>
          </li>
          <li>
              <a href="#blog">Blog</a>
          </li>
          <li>
              <a href="#contact">Contact</a>
          </li>
      </ul>

  </div>
  {% if page.slogan %}<h3 class="about-slogan">{{ page.slogan }}</h3>{% endif %}
{% if page.theme %}</section>{% endif %}

</header>

