<div class="splash-container row">
    <div id="splash-nav" class="col-12">
        <h1 class="big">
            <a href="/">HackGT</a>
        </h1>
        <ul>
            <li>
                <a href="/about" class="navlink" id="navabout">About</a>
            </li>
            <li>
                <a href="/events" class="navlink" id="navevents">Events</a>
            </li>
            <li>
                <a href="/code" class="navlink" id="navcode">Code</a>
            </li>
            <li>
                <a href="/blog" class="navlink" id="navblogpost">Blog</a>
            </li>
            <li>
                <a href="/contact" class="navlink" id="navcontact">Contact</a>
            </li>
        </ul>
    </div>
</div>
