body {
	font-family: 'News Cycle', sans-serif;
	color: #ecf0f1;
	background-color: #140C2D; 
}

.navbar {
	background-color: #05578D;
	border: none;
	border-bottom: 2px solid #F9DC6D;
	text-transform: uppercase;
}

.home-page-header {
	background-color: #140C2D;
	padding-top: 11rem;
}

.page-header, .home-page-header {
	margin: 0;
	border-bottom: none;
	text-align: center;
}

.page-header {
	padding-top: 5.5rem;
}

.home-page-header img {
	width: 100%;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
}

.home-page-header h1, .page-header h1 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#mlh-logo {
	height: 14rem;
	position: absolute;
	margin-left: 1.5rem;
	z-index: 90;
	top: 0;
}

.member-description {
	padding-bottom: 2rem;
	
}

.home-section {
	padding: 1.5rem 12rem;
	background-color: #202542;
}

.home-section:last-of-type {
	padding-bottom: 5rem;
}

.footer {
	background-color: #05578D;
	padding: 2rem;
	text-align: center;
	border-top: 2px solid #F9DC6D;
	text-transform: uppercase;
	color: #ecf0f1;
}

.navbar {
	min-height: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
	color: #ecf0f1;
	padding-bottom: 0;
	font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #F9DC6D;
}

#nav-logo {
	width: 0;
}

#nav-logo a {
	width: 0;
	padding: 0;
	z-index: 9000;
}

.view-more {
	text-align: right;
}

.view-more a {
	color: #F9DC6D;
}

.view-more i {
	padding-left: 10px;
}

#member .col {
	padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
	.navbar {
		padding-top: 1.25em;
	}

	.navbar-nav>li:nth-of-type(5) {
		padding-left: calc(3.2em + 10px);
	}

	#nav-logo img {
		position: absolute;
	    width: 3.2em;
	    top: -.6em;
	}
}

@media (max-width: 768px) {
	#nav-logo {
		display: none;
	}
}

.social>a{display:inline-block;margin:10px;padding:0;border:none;background:none;vertical-align:middle;position:relative;width:40px;height:40px;color:#05578D!important;border-radius:50%;transition:all 0.3s;text-decoration:none;}.social>a>i{font-size:16px;width:22px;line-height:40px;}.social>a.twitter{background:#DAF7DC;}.social>a.facebook{background:#9EE493;}.social>a.email{background:#2F4858;}.social>a.github{background:#86BBD8;border:1px solid #86BBD8;}
