body {
	font-family: 'News Cycle', sans-serif;
	color: #ecf0f1;
	background-color: #140C2D; 
}

.navbar {
	background-color: #05578D;
	border: none;
	border-bottom: 2px solid #F9DC6D;
	text-transform: uppercase;
}

.home-page-header {
	background-color: #140C2D;
	padding-top: 11rem;
}

.page-header, .home-page-header {
	margin: 0;
	border-bottom: none;
	text-align: center;
}

.page-header {
	padding-top: 6rem;
}

.home-page-header img {
	width: 100%;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
}

.home-page-header h1, .page-header h1 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#mlh-logo {
	height: 14rem;
	position: absolute;
	margin-left: 1.5rem;
	z-index: 90;
	top: 0;
}

.member-description {
	padding-bottom: 2rem;
	
}

.home-section {
	padding: 1.5rem 12rem;
    background-color: #202542;
}

.home-section:last-of-type {
	padding-bottom: 5rem;
}

.footer {
	background-color: #05578D;
	padding: 2rem;
	text-align: center;
	border-top: 2px solid #F9DC6D;
	text-transform: uppercase;
	color: #ecf0f1;
}

.navbar {
	min-height: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
	color: #ecf0f1;
	padding-bottom: 0;
	font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #F9DC6D;
}

#nav-logo {
	width: 0;
}

#nav-logo a {
	width: 0;
	padding: 0;
	z-index: 9000;
}

.view-more {
	text-align: right;
}

.view-more a {
	color: #F9DC6D;
}

.view-more i {
	padding-left: 10px;
}

#member .col {
	padding-bottom: 2.5rem;
}

.container {
	padding-bottom: 3rem;
}

@media (min-width: 768px) {
	.navbar {
		padding-top: 1.25em;
	}

	.navbar-nav>li:nth-of-type(6) {
		padding-left: calc(3.2em + 10px);
	}

	#nav-logo img {
		position: absolute;
	    width: 3.2em;
	    top: -.6em;
	}
	#mobile-home-link {
		display: none;
	}

}

@media (max-width: 768px) {
	#nav-logo {
		display: none;
	}

	.events-container .panel {
		max-width: 100% !important; 
	}
}

.container img {
	padding: 1rem 0;
}

.social>a{display:inline-block;margin:10px;padding:0;border:none;background:none;vertical-align:middle;position:relative;width:40px;height:40px;color:#05578D!important;border-radius:50%;transition:all 0.3s;text-decoration:none;}.social>a>i{font-size:16px;width:22px;line-height:40px;}.social>a.twitter{background:#DAF7DC;}.social>a.facebook{background:#9EE493;}.social>a.email{background:#2F4858;}.social>a.github{background:#86BBD8;border:1px solid #86BBD8;}

.blog-url {
    text-decoration: none;
    color: #F9DC6D;
}

.blog-url:hover {
    text-decoration: none;
    color: hotpink;
}

.kahuna {
    font-size: 500%;
}

.community .subheader {
	margin-top: 4rem;
}

.community .subheader:first-of-type {
	margin-top: 2rem;
}

.hacker-main-row {
	display: flex;
	flex-direction: row;
	justify-content: center;'
	flex-wrap: wrap;
}

.hacker-main-row .hacker-description {
	padding-left: 2em;
}

.hacker-past {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 1em;
}

.hacker-past a {
	margin: 1em;
}

.hacker-past img {
	padding: 0;
}

.modal-dialog {
	color: #202542;
}

.modal-header h6 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.overlay {
	overflow: hidden;
	position: relative;
}

.overlay-description {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 100%;
	padding: 15px 20px;
   	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
	background: rgba(32, 37, 66, .7);
	color: #ecf0f1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay:hover .overlay-description {
	top: 0;
}

#hacker-map .states {
	stroke: #140C2D;
	fill: #ecf0f1;
	stroke-width: 1px;
	opacity: .8;
	pointer-events: none;
}

#hacker-map .points {
	stroke: #ecf0f1;
	fill: #05578D;
	fill-opacity: .8;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font-size:11px;
  text-align: left;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.events-container .panel {
	background: none;
	margin: 1rem;
	flex: 0 0 100%;
	border-color: #ecf0f1;
}

@media only screen and (min-width: 767px) {
	.events-container .panel {
		flex: 0 0 calc(33% - 2rem);
	}
}

.events-container .panel-heading {
	background-color: #ecf0f1;
	color: #140C2D;
}

.events-container .panel-heading h3 {
	font-weight: bold;
}

.events-container .panel .panel-body h3{
	font-size: 16px;
}

.events-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.crop {
	width: 300px;
	height: 300px;
}

.crop img {
	width: 100%;
}