---
layout: main
---

            <div class="row">
                <div class="col-2 article-links">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://hack.gt/{{ page.url }}" class="fb"><img src="/assets/icons/Facebook.svg"/></a>
                    <a href="https://twitter.com/intent/tweet?url=https://hack.gt/{{ page.url }}"><img src="/assets/icons/Twitter.svg"/></a>
                    <a href="https://www.linkedin.com/cws/share?url=https://hack.gt/{{ page.url }}"><img src="/assets/icons/LinkedIn.svg"/></a>
                </div>

                <div class="col-8 post">
                    <h1>{{ page.title }}</h1>
                    <p class="author">{{ page.author }} / {{ page.date | date: '%B %d, %Y' }}</p>

                    {{ page.content }}
                </div>
            </div>
